<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand" href="#">FreshMarket</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'catalog:home' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:contacts' %}">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog:blogpost_list' %}">Блог</a>
                </li>
            </ul>
        </div>
    </div>
</nav>